@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Görüntüleme Sayfası </title>
    <link rel="icon" type="image/x-icon" href="https://www.kvkk-egitimi.com/wp-content/uploads/kvkk-kisisel-veriler-hangi-sartlarda-silinmeli.png">
    <style type="text/css">
        #viz {
            width: 900px;
            height: 700px;
        }
    </style>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>
    <script>

        function draw() {
            var queryString = window.location.search;
            //console.log();
            var tumAd;
            var AranacakAd;
            var AranacakSoyad;
            if (queryString.includes('&')) {
                queryString = queryString.substr(1, queryString.length);
                tumAd = queryString.split('&');
                AranacakAd = tumAd[0].substr(tumAd[0].indexOf('=') + 1, tumAd[0].length);
                AranacakSoyad = tumAd[1].substr(tumAd[1].indexOf('=') + 1, tumAd[1].length);
                AranacakAd = AranacakAd.replace("%20", " ");

            }
            else {
                tumAd = queryString.split('%');
                AranacakSoyad = tumAd[1].substr(2, tumAd[1].length);
                AranacakAd = tumAd[0].substr(tumAd[0].indexOf('=') + 1, tumAd[0].length);
            }
            //console.log(AranacakAd + " " + AranacakSoyad);

            var config = {
                container_id: "viz",
                server_url: "bolt://3.231.33.56:7687",
                server_user: "neo4j",
                server_password: "straws-twin-skin",

                labels: {
                    "ARASTIRMACI": {
                        "caption": "ArastirmaciAdi",
                        "image": 'https://www.kvkk-egitimi.com/wp-content/uploads/kvkk-kisisel-veriler-hangi-sartlarda-silinmeli.png'
                    },
                    "YAYINTURU": {
                        "caption": 'YayinTuru'
                    },
                    "YAYIN": {
                        "caption": 'YayinYili'
                    }
                },
                relationships: {
                    "YAYINLANDI": {
                        caption: false
                        //"caption": "ekmek"
                    }
                },

                initial_cypher: "MATCH(a: ARASTIRMACI)< -[r]-(p: ARASTIRMACI)-[r2]-> (y: YAYIN)-[r3]-> (t: YAYINTURU) WHERE p.ArastirmaciAdi = '" + AranacakAd + "' AND p.ArastirmaciSoyadi= '" + AranacakSoyad + "' RETURN *;"
                //initial_cypher: "MATCH (n)-[r]->(m) RETURN *;"
            }


            var viz = new NeoVis.default(config);
            viz.render();
            viz.registerOnEvent("completed", (e) => {

                viz["_network"].on("selectNode", (event) => {
                    //console.log($('.vis-tooltip').text().replace(/\D/g, ''));
                    if ($('.vis-tooltip').text().replace(/\D/g, '') != '' && !$('.vis-tooltip').text().includes("YayinTuru") && !$('.vis-tooltip').text().includes("YayinYili"))
                        viz.renderWithCypher("MATCH(a: ARASTIRMACI)< -[r]-(p: ARASTIRMACI)-[r2]-> (y: YAYIN)-[r3]-> (t: YAYINTURU) WHERE p.ArastirmaciID= " + $('.vis-tooltip').text().replace(/\D/g, '') + " RETURN *");

                });
            });


        }
    </script>
</head>

<body onload="draw()">

    <div id="viz"></div>

</body>
</html>