@model IEnumerable<akademikArama.Models.ArastirmaciModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <title> Hadee </title>
    <style type="text/css">
        #viz {
            width: 900px;
            height: 700px;
        }
    </style>

    <script src="https://cdn.neo4jlabs.com/neovis.js/v1.5.0/neovis.js"></script>
    <script>
        
        function draw() {
            var config = {
                container_id: "viz",
                server_url: "bolt://3.231.33.56:7687",
                server_user: "neo4j",
                server_password: "straws-twin-skin",

                labels: {
                    "ARASTIRMACI": {
                        "caption": "ArastirmaciAdi",
                        "image": 'https://www.kvkk-egitimi.com/wp-content/uploads/kvkk-kisisel-veriler-hangi-sartlarda-silinmeli.png'
                    },
                    "YAYINTURU": {
                        "caption": 'YayinTuru'
                    },
                    "YAYIN": {
                        "caption": 'YayinYili'
                    }
                },
                relationships: {
                    "YAYINLANDI": {
                        caption: false
                            //"caption": "ekmek"
                    }
                },
                //initial_cypher: "MATCH(a: ARASTIRMACI)< -[r]-(p: ARASTIRMACI)-[r2]-> (y: YAYIN)-[r3]-> (t: YAYINTURU) WHERE p.ArastirmaciAdi = 'Alev' AND p.ArastirmaciSoyadi = 'Mutlu' RETURN *;"
                initial_cypher: "MATCH (n)-[r]->(m) RETURN *;"
            }
            var viz = new NeoVis.default(config);
            viz.render();
            viz.registerOnEvent("completed", (e) => {
                // attach handlers when rendering is finished

                viz["_network"].on("selectNode", (e1) => {

                    console.log(e1.nodes[0]);
                    node = e1.nodes[0]
                    var final = viz['_nodes'][node].raw;
                    console.log(final)
                    //viz.renderWithCypher("MATCH(a: ARASTIRMACI)< -[r]-(p: ARASTIRMACI)-[r2]-> (y: YAYIN)-[r3]-> (t: YAYINTURU) WHERE p.ArastirmaciID= " + final + " RETURN *");
                });

            });
            /*
           viz.registerOnEvent("completed", (e) => {
               viz["_network"].on("click", (event) => {
                   console.log(event.nodes[0]);
               });
           });
           */
        }
    </script>
</head>

<body onload="draw()">
    <div id="mynetwork"></div>
    <div id="viz"></div>

</body>
</html>